In [1]:
import numpy as np
import pandas as pd
from statsmodels.stats.weightstats import _tconfint_generic
from scipy.stats import norm

In [2]:
data = pd.read_csv('water.txt', delimiter='\t')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
def trust_interval(data):
    mean = data.mean()
    std = data.std(ddof=1) / (len(data) ** 0.5)
    size = data.shape[0] - 1 
    
    return _tconfint_generic(mean, std, size, 0.05, 'two-sided')

In [4]:
interval = trust_interval(data['mortality'])
print(interval)
print("Ответ:", round(interval[0], 4))

(1476.0833413552848, 1572.2117406119285)
Ответ: 1476.0833

In [5]:
interval = trust_interval(data[data['location'] == 'South']['mortality'])
print(interval)
print("Ответ:", round(interval[1], 4))

(1320.1517462936238, 1433.463638321761)
Ответ: 1433.4636

In [6]:
south_interval = interval
interval = trust_interval(data[data['location'] == 'North']['mortality'])
print('South', south_interval)
print('North', interval)

South (1320.1517462936238, 1433.463638321761)
North (1586.5605251961385, 1680.6394748038613)

In [7]:
south_interval = trust_interval(data[data['location'] == 'South']['hardness'])
north_interval = trust_interval(data[data['location'] == 'North']['hardness'])
print('South', south_interval)
print('North', north_interval)

South (53.467198692036106, 86.071262846425441)
North (21.422487285724259, 39.377512714275738)

In [8]:
# The sixth question
np.ceil((norm.ppf(1-0.05/2) / 0.1)**2)

385.0