In [29]:
import pandas as pd
import numpy as np

from scipy.stats import chi2_contingency, norm

In [2]:
data = pd.read_csv('water.txt', delimiter='\t')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [16]:
corr = data[['mortality', 'hardness']].corr()
print(corr)
print(round(corr['mortality'][1], 4))

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000
-0.6548

In [18]:
corr = data.corr(method='spearman')
print(corr)
print(round(corr['mortality'][1], 4))

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000
-0.6317

In [20]:
corr_north = data[data['location'] == 'North'][['mortality', 'hardness']].corr()
corr_south = data[data['location'] == 'South'][['mortality', 'hardness']].corr()
print(corr_north)
print(corr_south)
corr = corr_north['mortality'][1] if abs(corr_north['mortality'][1]) < abs(corr_south['mortality'][1]) else corr_south['mortality'][1]
print(round(corr, 4))

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000
           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000
-0.3686

In [23]:
a = 203
b = 718
c = 239
d = 515 

corr = (a * d - b * c ) / np.sqrt((a + b) * (a + c) * (b + d) * (c + d))
print(corr)
print(round(corr, 4))

-0.109002374587
-0.109

In [27]:
data = np.array([[203, 239], [718, 515]])
g, p, dof, expctd = chi2_contingency(data)
print(p)
print(5)

1.05589870066e-05
5

In [35]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [147]:
l1 = b+a
l2 = d+c

p1 = b / l1
p2 = d / l2

z = norm.ppf(1 - 0.05 / 2.)

left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ l1 + p2 * (1 - p2)/ l2)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ l1 + p2 * (1 - p2)/ l2)

print(left_boundary, right_boundary)

print(round(left_boundary, 4))
print(round(right_boundary, 4))

0.0539052332158
0.139221831415
0.0539
0.1392

In [103]:
n1 = a + c
n2 = b + d
    
p1 = float(a) / n1
p2 = float(b) / n2 
P = float(p1*n1 + p2*n2) / (n1 + n2)
    
z = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

2 * (1 - norm.cdf(np.abs(z)))

print(6)

8.1534530895766011e-06

In [142]:
data = np.array([[197, 382, 110], [111, 685, 342], [33, 331, 333]])
g, p, dof, expctd = chi2_contingency(data)
print(round(g, 4))
print(p)
print(62)

293.683110397
293.6831
2.49642995801e-62
62
293.683110397 2.49642995801e-62 4 [[  93.08597464  381.6251981   214.28882726]
 [ 153.74722662  630.318542    353.93423138]
 [  94.16679873  386.0562599   216.77694136]]

In [159]:
print(round(np.sqrt(293.683110397 / (np.sum(data) * 2)), 4))

0.2412