In [20]:
import numpy as np
import pandas as pd

from scipy import stats
from statsmodels.stats.weightstats import _tconfint_generic

In [97]:
print(round(stats.binom_test(67, 100, .75, alternative = 'two-sided'), 4))

0.0822

In [21]:
data = pd.read_csv('pines.txt', delimiter='\t')
data.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

In [187]:
xbin = [x * 40 for x in range(int(200 / 40) + 1)]
ybin = list(xbin)

x = data['sn'].values
y = data['we'].values

counts = stats.binned_statistic_2d(x, y, None, 'count', bins=[xbin,ybin])
print(round(np.mean(counts.statistic), 2))

23.36
23.36

In [188]:
statistic = [tt for t in counts.statistic for tt in t]

print(stats.chisquare(statistic).statistic)
print(round(stats.chisquare(statistic).statistic, 2))

150.589041096
150.59