In [2]:
import os

import pandas as pd

from tqdm import tqdm


PATH_TO_DATA = '../data'

In [5]:
data = pd.read_csv(os.path.join(PATH_TO_DATA, 'aggregated_yellow_tripdata_2016-05.csv'), index_col=0)

In [6]:
means = data.mean(axis=1)
means = means[means >= 5]
means.shape

(102,)

In [24]:
data = pd.read_csv(os.path.join(PATH_TO_DATA, 'aggregated_yellow_tripdata_2016-01.csv'), index_col=0)
data = data.loc[means.index].T

for i in tqdm(range(2, 5)):
    file = 'aggregated_yellow_tripdata_2016-0%d.csv' % i
    df = pd.read_csv(os.path.join(PATH_TO_DATA, file), index_col=0)
    df = df.loc[means.index].T
    data = pd.concat([data, df])
    
data.to_csv(os.path.join(PATH_TO_DATA, 'train.csv'))

100%|███████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:01<00:00,  1.82it/s]

In [25]:
data.shape

(2904, 102)

In [26]:
data.head()

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,1630,1684,1733,1734,1783,2068,2069,2118,2119,2168
2016-01-01 00:00:00,80.0,144.0,50.0,77.0,319.0,402.0,531.0,617.0,846.0,267.0,...,12.0,0.0,2.0,44.0,5.0,41.0,4.0,70.0,7.0,66.0
2016-01-01 01:00:00,91.0,211.0,49.0,134.0,404.0,420.0,370.0,453.0,594.0,224.0,...,29.0,0.0,5.0,2.0,2.0,4.0,0.0,47.0,1.0,29.0
2016-01-01 02:00:00,90.0,146.0,23.0,110.0,393.0,425.0,313.0,366.0,377.0,138.0,...,47.0,0.0,3.0,0.0,4.0,0.0,0.0,69.0,1.0,14.0
2016-01-01 03:00:00,32.0,87.0,16.0,62.0,252.0,399.0,324.0,309.0,327.0,166.0,...,46.0,0.0,2.0,4.0,5.0,1.0,0.0,21.0,0.0,9.0
2016-01-01 04:00:00,24.0,43.0,10.0,53.0,145.0,254.0,264.0,333.0,318.0,145.0,...,43.0,0.0,0.0,1.0,1.0,0.0,0.0,26.0,1.0,6.0

In [27]:
data = pd.read_csv(os.path.join(PATH_TO_DATA, 'aggregated_yellow_tripdata_2016-05.csv'), index_col=0)
data = data.loc[means.index].T
data.to_csv(os.path.join(PATH_TO_DATA, 'train_05.csv'))

In [28]:
data = pd.read_csv(os.path.join(PATH_TO_DATA, 'aggregated_yellow_tripdata_2016-06.csv'), index_col=0)
data = data.loc[means.index].T
data.to_csv(os.path.join(PATH_TO_DATA, 'train_06.csv'))

In [3]:
data = pd.read_csv(os.path.join(PATH_TO_DATA, 'train.csv'), index_col=0)
df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_05.csv'), index_col=0)
data = pd.concat([data, df])
data.to_csv('train_2.csv')

In [7]:
# aggregated_yellow_tripdata_2016-04
data = pd.read_csv(os.path.join(PATH_TO_DATA, 'aggregated_yellow_tripdata_2016-04.csv'), index_col=0)
data = data.loc[means.index].T
data.to_csv('train_04.csv')