In [1]:
import numpy as np
import pandas as pd

from itertools import combinations 
from scipy.stats import wilcoxon
from statsmodels.stats.multitest import multipletests

In [2]:
data = pd.read_csv("AUCs.txt", delimiter='\t')
data.head()

                Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0           adult (sample)  0.763   0.768    0.771      0.798
1            breast cancer  0.599   0.591    0.590      0.569
2  breast cancer wisconsin  0.954   0.971    0.968      0.967
3                      cmc  0.628   0.661    0.654      0.657
4               ionosphere  0.882   0.888    0.886      0.898

In [3]:
names = list(combinations(data.columns[1:], 2))
values = [wilcoxon(data[c[0]].values, data[c[1]].values).pvalue for c in names]

In [4]:
names[values.index(np.min(values))]

('C4.5', 'C4.5+m')

In [5]:
names

[('C4.5', 'C4.5+m'),
 ('C4.5', 'C4.5+cf'),
 ('C4.5', 'C4.5+m+cf'),
 ('C4.5+m', 'C4.5+cf'),
 ('C4.5+m', 'C4.5+m+cf'),
 ('C4.5+cf', 'C4.5+m+cf')]

In [6]:
sum([1 if p < 0.05 else 0 for p in values])

4

In [7]:
reject, _, _, _ = multipletests(values, alpha = 0.05, method = 'h') 
sum([1 if t else 0 for t in reject])

0

In [8]:
reject, _, _, _ = multipletests(values, alpha = 0.05, method = 'fdr_bh') 
sum([1 if t else 0 for t in reject])

3